project_type=
project_name=
source_code_management=gerrit_repo
#repo_info
repository_url=
branch=
dest_dir=
jobs=
quiet=true
force_sync=true
#config_matrix
user_defined_axis_name=device
user_defined_axis_values=
config_matrix_run_each_build_sequentially=true
#build
build_step=execute_shell
build_script=build.sh
