project_type=						#The project type to be defined in Jenkins
project_name=						#The Project Name
source_code_management=gerrit_repo			#Use Gerrit plugin in Jenkins
#repo_info
repository_url=						#Location of Manifest
branch=							#Branch to be used
dest_dir=						#Where to save the synced sources
jobs=							#No. of simultaneous connections for repo sync
quiet=true						#Disable verbose logging
force_sync=true						#Continue sync in case of a failure
#config_matrix
user_defined_axis_name=device				#Use the device axis to enable modularity
user_defined_axis_values=				#Insert device names to build
config_matrix_run_each_build_sequentially=true		#Do the builds one at a time
#build
build_step=execute_shell				#Make Jenkins execute your build script
build_script=build.sh					#Name of build script
