project_type=multi-configuration
project_name=CyanogenMod
source_code_management=gerrit_repo
#repo_info
repository_url=https://www.github.com/CyanogenMod/android
branch=cm-13.0
dest_dir=cm/13.0
jobs=50
quiet=true
force_sync=true
#config_matrix
user_defined_axis_name=device
user_defined_axis_values=hammerhead
config_matrix_run_each_build_sequentially=true
#build
build_step=execute_shell
build_script=build.sh
