project_type=multi-configuration
project_name=OmniROM
source_code_management=gerrit_repo
#repo_info
repository_url=https://github.com/OmniROM/android.git
branch=android-5.1
dest_dir=omni/5.1
jobs=20
quiet=true
force_sync=true
#config_matrix
user_defined_axis_name=device
user_defined_axis_values=hammerhead
config_matrix_run_each_build_sequentially=true
#build
build_step=execute_shell
build_script=build.sh
